<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--必须指定当前映射的文件名-->
<mapper namespace="org.nichao.dao.FoodinfoDao">

    <!--重用的SQL块 id名称-->
    <sql id="table" >
         select * from foodinfo
    </sql>

<!--根据id查询数据-->
    <select id="findById"  parameterType="int" resultType="Foodinfo">
        <include refid="table"/> where foodId = #{foodId}
    </select>


    <!--所有数据-->
    <select id="all" resultType="Foodinfo">
--         引用这个sql块  refid定义的名称id
      <include refid="table"/>
   </select>


    <!--id：方法名唯一， parameterType参数类型-->
    <insert id="insert" parameterType="Foodinfo">
     insert into foodinfo(foodId,foodName,remark,foodPrice,description,foodImage)
     values(#{foodId},#{foodName},#{remark},#{foodPrice},#{description},#{foodImage})
    </insert>


    <!--id：方法名唯一， parameterType参数类型-->
    <update id="update" parameterType="Foodinfo">
     update foodinfo set foodId=#{foodId},foodName=#{foodName},remark=#{remark},foodPrice=#{foodPrice},description=#{description},foodImage=#{foodImage}
     where foodId =#{foodId}
    </update>

    <!--id：方法名唯一， parameterType参数类型 id-->
    <delete id="delete" parameterType="int">
     delete from  foodinfo  where foodId =#{foodId}
    </delete>



    <!--根据条件来查询数据-->
    <!--<select id="findName" resultType="Userinfo">-->
        <!--&#45;&#45;         引用这个sql块  refid定义的名称id-->
        <!--<include refid="table"/>-->
        <!--<where>-->
            <!--<if test="loginName != null">-->
                <!--loginName like  concat('%',#{loginName},'%')-->
            <!--</if>-->
            <!--<if test="phone != null">-->
              <!--and  phone like  concat('%',#{phone},'%')-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->


    <select id="findName" resultType="Foodinfo">
        --         引用这个sql块  refid定义的名称id
        <include refid="table"/>
        <where>
            <if test="foodName != null">
                foodName like  concat('%',#{foodName},'%')
            </if>
            <if test="foodPrice != null">
                and  foodPrice like  concat('%',#{foodPrice},'%')
            </if>

        </where>
    </select>


</mapper>